.contenedor-login{
    max-width: 40%;
    margin: auto;
    height: 300px;
    padding: 3%;
    background-color: green;
}

.padding-bottom-5{
    padding-bottom: 5%;
}

.padding-top-15{
    padding-top:5%;
}

.margin-top-50 {
    margin-top: 50px;
}

.margin-right-15 {
    margin-right: 15px;
}

.margin-top-50 {
    margin-top: 50px;
}
text-center{
    text-align: center;
}

.banner-inicio-1{
    padding-left: 50px;
}

.color-azul-claro {
    background-color: #F5F5FF;
    height: 500px;
}

.size-img-productivity{
    height:200px;
    padding-left: 650px;
    padding-top: 50px;
}